@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* 全体のフォント設定 */
body {
  font-family: "JetBrains Mono", monospace;
  overflow-x: hidden;
}

/* トーストメッセージのカスタムスタイル */
.blue-toast {
  background: black !important; /* 必要な場合のみ !important を使用 */
  color: #ffffff !important;
}

.blue-toast .Toastify__progress-bar {
  background: #4dd0e1 !important;
}

.blue-toast .Toastify__toast-icon svg {
  fill: #4dd0e1 !important;
}

/* リンクのホバーエフェクト */
.hover-effect {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none !important;
  transition: color 0.3s;
}

.hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2196f3; /* 青色 */
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-effect:hover {
  color: #2196f3; /* 青色 */
}

/* スクロールバーを非表示にする */
::-webkit-scrollbar {
  display: none; /* スクロールバーを非表示にする */
}

/* Firefox用 */
html {
  scrollbar-width: none; /* スクロールバーを非表示にする */
}

/* Edge, IE用 */
html {
  -ms-overflow-style: none; /* スクロールバーを非表示にする */
}
